body {
    font-family: 'Open Sans', sans-serif;
    color: #00FF00;
    font-size: 14px;
    letter-spacing: 0.8px;
    background-color: #000000;
    border-radius: 4px;
    overflow:hidden;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#ad {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#aa {
    color: #00FF00;

}
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}
.btn {
    text-transform: uppercase;
    font-weight: 600;
}
.btn-lg {
    padding: 15px 40px;
    font-size: 16px;
    line-height: none;
    border-radius: 4px;
}
.btn-red {
    background-color: #dd5138;
    color: #fff;
}
.btn-yellow {
    background-color: #fcd93b;
    color: #2a2a2a;
    opacity: 0.8;
}
.btn-yellow:hover {
    opacity: 1;
}
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover {
    opacity: 0.65;
}

img {
  width: 30%;
}
